.listitem {
    padding-right: 1rem;
    position: relative;

    &:first-child {
       margin-top: 2rem;
       font-size: 4rem;
      }

    @include respond(tab-port) { // width < 900?
        padding: 0;
    }

    &--icon {
        position: absolute;
        top: -.5rem;
        font-size: 3rem;
        color: rgba($color-primary,0.8);
        // display: inline-block;

        &:before {
            content: '✓';
            color: $color-primary, !important; 
        }
    }

    &--text {
        margin: 0.5rem 0px 0rem 4rem;
        display: inline-block;
        z-index: 2;
        
        @include respond(tab-port) { // width < 900?
            font-size: 1.5rem;
            letter-spacing: 1.5px;
        }
        @include respond(tab-mini-port) { // width < 700?
            font-size: 1.3rem;
            letter-spacing: 0.5px;
        }
        @include respond(phone) { // width < 600?
            font-size: 1.3rem;
            letter-spacing: 2px;
            // margin: 0;
        }

    }

    &--btn{
        text-align: center;
        padding: 2rem;
    }
}