.section__header {
    display: block;
    text-align: center;
    margin: 1rem;
    text-shadow: 0 0.5rem 2rem rgba($color-grey-dark,.2);

    @include respond(tab-port) { // width < 900?
        margin: 0;
        padding: 0;
    }
    @include respond(phone) { // width < 900?
        margin: 0;
        padding: 0;
    }
    @include respond(small-phone) { // width < 900?
        margin: 1rem;
        padding: 0;
    }

    &--title{
        text-transform: uppercase;
        letter-spacing: 7px;

        // @include respond(phone) { 
        //     font-size: 100%;
        // }
    }
    &--sub{
        padding-top: 1rem;
        color: $color-grey-dark;
        font-size: 1.6rem;

        @include respond(phone) { 
            font-size: 90%;
        }
    }
    &--title-white{
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 7px;

        @include respond(phone) { 
            font-size: 100%;
        }
    }
    &--title-primary{
        color: $color-white;
        text-transform: uppercase;
    }
}